body{
    margin: 0px;
    padding: 0%;
    font-family: 'Roboto Flex', sans-serif !important;
    color: #666666;
}

.Inicio1{
    background-repeat: no-repeat;
    background-image: url(/Imagenes/25_regalos_fotografo_nikon_3_1-1200x655.png) ;
    background-size: 100%;
    width: 100%;
    margin: 0px;
    padding: 10px;
}

.barra{
    margin-top: 1%;
    
    
}
.Logo{
    display: flex;
    align-items: center;
    font-size: 200% !important;
}

.LogoImg{
    width: 20%;
    height: 60px;
}

.Nav1{
    font-size: 200%;
}

li{
    position: relative; left: 90%;
}

.TextoNav{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 100%;
    color: white;
}

.Texto1{
    font-size: 400%;
    font-family: 'Roboto Serif', serif;
}
.Texto2{
    font-size: 200%;
}


.Textos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 10%;
    margin: 2%;
    padding: 2%;
}

.DivTextos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%; 
}

.DivTextos1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
      
}

.DivTextosFinal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.DivTextosFinalGaleria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    padding: 2%;
    
}

p{
    font-size: 150%;
}

.parrafoFinal{
    font-size: 200%;
}

.p{
    font-size: 150%;
    position: relative; right: 25%;
}

h1{
    color: #393939;
}

a{
   color: #666666;
}

.Imagen2{
    
    background-image: url(/Imagenes/25_regalos_fotografo_nikon_1.png) ;
    background-size: 100%;
    background-position: 50% 50%;
    width: 100%;
    margin: 0px;
    padding: 10px;

}

.TextoImagen2{
    margin-top: 15%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 200%;
    font-family: 'Roboto Serif', serif;
    color: white;
}

.TextoImagen3{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 150%;
    font-family: 'Roboto Serif', serif;
    color: white;
}

.Clientes{
    background-image: url(/Imagenes/photo-1487523611061-10d47c165f4c.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 30%;
    width: 100%;
    margin: 0px;
    padding: 10px;
}

.iconosRedes{
    height: 70px;
}


.Blanco{
    color: white;
    font-size: 150%;
    font-family: 'Roboto Flex', sans-serif;
}

.Galeria{
    text-decoration: none;
    font-size: 130%;
    color: black;
    font-family: 'Roboto Flex', sans-serif;
}

.servicio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5%;
    justify-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card{
    width: 60% !important;
}
    
.imagenYo{
    width: 100%;
}

.TextosContacto{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 10%;
    margin: 2%;
    padding: 2%;
}

.DivTextosContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}